<!DOCTYPE html>
<html lang="en" th:xmlns="www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheridan Robotics Fair</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <div id="info">
            <h1>Sheridan Robotics Fair</h1>
            <h2>15th October, 2023</h2>
            <div id="buttons">
                <a href="/add"><button>Get Tickets</button></a>
                <a href="/view"><button>View Registrations</button></a>
            </div>
        </div>
        <img id="sheridan-logo" src="/images/SheridanLogo.png" alt="Sheridan Logo">
    </main>
</body>

</html>